header {
  background-color: #404041;

}
body {
  max-width: 1024px;
}
h1{
color: #ED458B;
font-family: 'Open Sans', sans-serif;
font-size: 45px;
font-weight: 700;
margin-left: 330px;
max-width: 342px;
}
#guesser{
  color: #E6E7E8;
  font-family: 'Opens Sans', sans-serif;
  font-weight: 300;
}
#game {
  max-width: 341px;
  margin-left: 341px;
  position: relative;
}

.values {
  border: 2px solid #929497;
  color:#929497;
  height: auto;
  font-size: 25px;
  padding:2px;
  margin-top:20px;
  width: 341;
}
#entry{
  width: 341px;
}

.range {
    width: 165px;
}



.clickme {
  background-color: #929497;
  border: 0px;
  border-radius: 30px 30px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 300;
  height: 45px;
  margin-top: 50px;
  width: 163px;
}
#guess {

}
.clickme:hover{
  background-color: #EB008B;
  color: #FFFFFF;
}
#your-number {
  margin-top: 40px;
}
.answers {
  color: #404041;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}
.class-disabled:hover{
  background-color: #D0D2D3;
  border: 0px;
  border-radius: 30px 30px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 300;
  height: 45px;
  width: 165px;
}
#number {
  color: #EB008B;
  font-size: 200px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#reset {
  width: 34%;
  margin-left: 33%;
  margin-top: 20px;
}
